<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <link rel="Stylesheet" href="/css/detalle-producto.css" type="text/css">
    <link rel="stylesheet" href="/css/header-footer.css" >
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
</head>

<body>
   <%-include('partials/header.ejs')%> 

<!--Main-->
    <main>

        <article class="producto">
            <section class="imagen-principal">
                    <img src="/<%=detalle.imagen %>" alt="Bolsa de friselina con mango">
            </section>
            <section class="contenedor-detalle-producto">
                <div class="info-producto">
                    <h3 class="nombre"><%= detalle.nombre%></h3>
                    <a class="precio"><%= detalle.precio %>c/u</a>
                    <a class="oferta">Ahorrá llevando 250 unidades o más</a>
                    <p>
                        <%= detalle.descripcion%>
                    </p>
                    
                </div>
                <div class="configuracion-producto">
                    </select>
                    <label>Color de bolsa</label>
                    <select>
                        <% for(let i=0;i < detalle.colorBolsa.length; i++){ %>
                            <% if(detalle.colorBolsa[i]!= null) { %>
                                <option value="<%= detalle.colorBolsa[i] %>"><%= detalle.colorBolsa[i]%></option>
                                <% } %>
                        <% } %>
                        
                    </select>
                    <label>Color de tinta</label>
                    <select>
                        <% for(let i=0;i < detalle.colorTinta.length; i++){ %>
                            <% if(detalle.colorTinta[i]!= null) { %>
                            <option value="<%= detalle.colorTinta[i] %>"><%= detalle.colorTinta[i]%></option>
                            <% } %>
                        <% } %>
                    </select>
                    <label>Tamaño</label>
                    
                    <select>
                        <option value="<%= detalle.tamaño %>"> <%= detalle.tamaño %> </option>   
                    </select>

                    <label>Stock</label>
                    <select>
                        <% for(let i=0;i < detalle.stock.length; i++){ %>
                            <% if(detalle.stock[i]!= 0) { %>
                            <option value="<%= detalle.stock[i] %>"><%= detalle.stock[i]%></option>
                            <% } %>  
                        <% } %> 
                    </select>

                    <label>Cantidad</label>
                    <p>Cantidad mínima de compra 100 unidades</p>
                    <input type="number">
                    </select>
                    <button>Agregar al carrito</button>
                </div>
            </section>
        </article>
       
        

        
    </main>
<!--Footer-->
<%-include('partials/footer.ejs')%> 
</body>

</html>