<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <link rel="Stylesheet" href="/css/modificar-producto.css" type="text/css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
    <%-include('partials/header.ejs') %>

        <!--Main-->
        <main>
            <form enctype="multipart/form-data" action="/products/<%=prod.id%>/edit?_method=PUT" method="POST">
                <article class="producto">
                    <h1 class="subtitulo">Modificar producto</h1>
                    <div class="titulo">
                        <input name="nombre" class="inputText" type="text" value="<%=prod.nombre%>">
                    </div>
                    <section class="imagen-principal" style="background-image:url('/../<%=prod.imagen%>')">
                        <div class="archivo">
                            <p class="texto">Cambiar Imagen</p>
                            <input name="img" class="btn-enviar" type="file" id="btnEnviar">
                        </div>
                    </section>
                    <section class="contenedor-detalle-producto">
                        <div class="configuracion-producto">
                            <div class="contenedor">
                                <h4 class="subtitulo">Precio por Unidad</h4>
                                <input name="precio" class="inputText" type="number" value="<%=prod.precio%>">
                            </div>
                            <div class="contenedor">
                                <h4 class="subtitulo">Descripción del producto</h4>
                                <textarea name="descripcion" class="descripcion" maxlength="700"><%=prod.descripcion%></textarea>
                            </div>
                            <div class="contenedor">
                                <div class="titulos">
                                    <h4 class="tituloColor">Colores de bolsa disponibles</h4>
                                    <h4 class="tituloStock">Stock</h4>
                                </div>
                                <div class="color-stock">
                                    <label class="columna nombreColor"><input class="checkbox" type="checkbox"
                                             name ="bolsaBeige" id="bolsaBeige"<% if(prod.colorBolsa.includes("Beige")){ %>checked<%}%>>Beige</label>
                                    <label class="columna"><input name="stockBeige" class="stock" type="number" value="<%= prod.stock[prod.colorBolsa.findIndex(color => color == "Beige")] %>"></label>

                                </div>
                                <div class="color-stock">
                                    <label class="columna nombreColor"><input class="checkbox" type="checkbox"
                                        name ="bolsaNegra" id="bolsaNegra"<% if(prod.colorBolsa.includes("Negro")){ %>checked<%}%>>Negro</label>
                                    <label class="columna"><input name="stockNegra" class="stock" type="number" value="<%= prod.stock[prod.colorBolsa.findIndex(color => color == "Negro")] %>"></label>
                                </div>
                                <div class="color-stock">
                                    <label class="columna nombreColor"><input class="checkbox" type="checkbox"
                                        name ="bolsaBlanca" id="bolsaBlanca" <% if(prod.colorBolsa.includes("blanco")){ %>checked<%}%>>Blanco</label>
                                    <label class="columna"><input name="stockBlanca" class="stock" type="number" value="<%= prod.stock[prod.colorBolsa.findIndex(color => color == "blanco")] %>"></label>
                                </div>
                                <div class="color-stock">
                                    <label class="columna nombreColor"><input class="checkbox" type="checkbox"
                                        name ="bolsaAzul" id="bolsaAzul" <% if(prod.colorBolsa.includes("Azul")){ %>checked<%}%>>Azul</label>
                                    <label class="columna"><input name="stockAzul" class="stock" type="number" value="<%= prod.stock[prod.colorBolsa.findIndex(color => color == "Azul")] %>"></label>
                                </div>
                                <div class="color-stock">
                                    <label class="columna nombreColor"><input class="checkbox" type="checkbox"
                                        name ="bolsaRoja" id="bolsaRoja"<% if(prod.colorBolsa.includes("Rojo")){ %>checked<%}%>>Rojo</label>
                                    <label class="columna"><input name="stockRoja" class="stock" type="number" value="<%= prod.stock[prod.colorBolsa.findIndex(color => color == "Rojo")] %>"></label>
                                </div>
                                <div class="color-stock">
                                    <label class="columna nombreColor"><input class="checkbox" type="checkbox"
                                        name ="bolsaNaranja" id="bolsaNaranja" <% if(prod.colorBolsa.includes("Naranja")){ %>checked<%}%>>Naranja</label>
                                    <label class="columna "><input name="stockNaranja" class="stock" type="number" value="<%= prod.stock[prod.colorBolsa.findIndex(color => color == "Naranja")] %>"></label>
                                </div>
                                <div class="color-stock">
                                    <label class="columna nombreColor"><input class="checkbox" type="checkbox"
                                        name ="bolsaRosa" id="bolsaRosa" <% if(prod.colorBolsa.includes("Rosa")){ %>checked<%}%>>Rosa</label>
                                    <label class="columna "><input name="stockRosa" class="stock" type="number" value="<%= prod.stock[prod.colorBolsa.findIndex(color => color == "Rosa")] %>"></label>
                                </div>
                                <div class="color-stock">
                                    <label class="columna nombreColor"><input class="checkbox" type="checkbox"
                                        name ="bolsaCeleste" id="bolsaCeleste" <% if(prod.colorBolsa.includes("Celeste")){ %>checked<%}%>>Celeste</label>
                                    <label class="columna"><input name="stockCeleste" class="stock" type="number" value="<%= prod.stock[prod.colorBolsa.findIndex(color => color == "Celeste")] %>"></label>
                                </div>
                            </div>
                            <div class="contenedor">
                                <h4 class="subtitulo">Colores de tinta disponibles</h4>
                                <label class="nombreColor"><input class="checkbox" type="checkbox" name="tintaBeige" id="tintaBeige"
                                    <% if(prod.colorTinta.includes("Beige")){ %>checked<%}%>>Beige</label>
                                <label class="nombreColor"><input class="checkbox" type="checkbox" name="tintaNegra" id="tintaNegra"
                                    <% if(prod.colorTinta.includes("Negro")){ %>checked<%}%>>Negro</label>
                                <label class="nombreColor"><input class="checkbox" type="checkbox" name="tintaBlanca" id="tintaBlanca"
                                    <% if(prod.colorTinta.includes("blanco")){ %>checked<%}%>>Blanco</label>
                                <label class="nombreColor"><input class="checkbox" type="checkbox" name="tintaAzul" id="tintaAzul"
                                        value="azul">Azul</label>
                                <label class="nombreColor"><input class="checkbox" type="checkbox" name ="tintaNaranja" id="tintaNaranja"
                                    <% if(prod.colorTinta.includes("Naranja")){ %>checked<%}%>>Naranja</label>
                                <label class="nombreColor"><input class="checkbox" type="checkbox" name="tintaRoja" id="tintaRoja"
                                    <% if(prod.colorTinta.includes("Rojo")){ %>checked<%}%>>Rojo</label>
                                <label class="nombreColor"><input class="checkbox" type="checkbox" name="tintaRosa" id="tintaRosa"
                                    <% if(prod.colorTinta.includes("Rosa")){ %>checked<%}%>>Rosa</label>
                                <label class="nombreColor"><input class="checkbox" type="checkbox" name="tintaCeleste" id="tintaCeleste"
                                    <% if(prod.colorTinta.includes("Celeste")){ %>checked<%}%>>Celeste</label>
                            </div>
                            <div class="contenedor">
                                <h4 class="subtitulo">Tamaño</h4>
                                <input name="tamaño" class="inputText" type="text" placeholder="<%=prod.tamaño%>">
                            </div>
                            <div class="contenedor">
                                <h4 class="subtitulo">Cantidad mínima de compra</h4>
                                <input name="cantMinima" class="inputText" type="number" value="<%=prod.cantMinima%>">
                            </div>
                            <button class="boton-guardar">Guardar</button>
                        </div>
                    </section>
                </article>  
            </form>

        </main>
        <!--Footer-->
        <%-include('partials/footer.ejs') %>
</body>

</html>