<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <!--Estilos Grupo 6-->
    <link rel="Stylesheet" href="/css/header-footer.css" type="text/css">
    <link rel="Stylesheet" href="/css/products.css" type="text/css">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
    <%- include('partials/header.ejs') %> 
    
    <!--Main-->
    <main>
        <div class="main-container">
            <!--Filtros(Se implementa mas adelante)-->
            <!-- <section class="container-filters">
                <h3>Categorías</h3>
                <h4>Plásticas <span class="category-quantity">(15)</span></h4>
                <h4>Friselina <span class="category-quantity">(10)</span></h4>
                <h4>Cristal<span class="category-quantity">(10)</span></h4>
                <h4>Merchandising <span class="category-quantity">(25)</span></h4>
                <br/>
                <h3>Venta</h3>
                <h4>Al por mayor <span class="category-quantity">(15)</span></h4>
                <h4>Al por menor <span class="category-quantity">(35)</span></h4>
                <br />
                <h3>Descuentos</h3>
                <h4>Desde 5% OFF <span class="category-quantity">(100)</span></h4>
                <h4>Desde 10% OFF <span class="category-quantity">(22)</span></h4>
            </section> -->
            <!--Productos-->
            <section class="container-products">
                <div class="products-list">
                    <% for(let i=0;i < productos.length;i++) {%>
                        <article class="product">
                            <div class="product-img">
                                <img src="../<%=productos[i].imagen %>" >
                            </div>
                            <div class="product-info">
                                <a href="/detalleProducto/<%=productos[i].id %>" style="text-decoration:none; color:black">
                                    <h2 class="product-name"><%=productos[i].nombre %> </h2>
                                </a>
                                <a class="product-price"><%=productos[i].precio %></a>
                                <a class="product-offer">Oferta 10% off a partir de 200u</a>
                                <p>
                                    <%=productos[i].descripcion %>
                                </p>
                                
                            </div>
                        </article>
                    <% } %>
                    
                </div>
            </section>
        </div>
    </main>
    <!--Footer-->
    <%-include('partials/footer.ejs')  %> 


</body>
</html>