<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <!--CSS  -->
    <link rel="stylesheet" href="/css/registro.css">
    <link rel="Stylesheet" href="/css/header-footer.css" type="text/css">
    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/79b8daf391.js" crossorigin="anonymous"></script>

</head>

<body>
    <%- include('../partials/header.ejs') %> 

    <main>
        <div class="ruta">
            <p>Inicio > Mi Cuenta > Crear Cuenta</p>
        </div>
        <div class="formulario">
            <h2 class="titulo">Formulario de Registro</h2>
            <form action="" method="post">
                <ul>
                    <li> 
                        <input class="form <%= locals.mensajeDeError && mensajeDeError.nombre ? 'is-invalid' : null %>" type="text" placeholder="Nombre y Apellido" name="nombre" value="<%= locals.datosViejos && datosViejos.nombre? datosViejos.nombre : ''%>">
                        <% if(locals.mensajeDeError && mensajeDeError.nombre){ %>
                            <div class="feedback is-danger">
                                <%= mensajeDeError.nombre.msg %>
                            </div>
                        <% } %>
                    </li>
                    
                    <li>
                        <input class="form <%= locals.mensajeDeError && mensajeDeError.email ? 'is-invalid' : null %>" type="email" placeholder="Email" name="email" value="<%= locals.datosViejos && datosViejos.nombre? datosViejos.email : ''%>">
                        <% if(locals.mensajeDeError && mensajeDeError.email){ %>
                            <div class="feedback is-danger">
                                <%= mensajeDeError.email.msg %>
                            </div>
                        <% } %>
                    </li>

                    <li>
                        <input class="form <%= locals.mensajeDeError && mensajeDeError.contrasenia ? 'is-invalid' : null %>" type="password" placeholder="Contraseña"  name="contrasenia" value="<%= locals.datosViejos && datosViejos.nombre? datosViejos.contrasenia : ''%>">
                        <% if(locals.mensajeDeError && mensajeDeError.contrasenia){ %>
                            <div class="feedback is-danger">
                                <%= mensajeDeError.contrasenia.msg %>
                            </div>
                        <% } %>
                    </li>

                    <li>
                        <input class="form <%= locals.mensajeDeError && mensajeDeError.contraseniaConfirmada ? 'is-invalid' : null %>" type="password" placeholder="Confirmar contraseña" name="contraseniaConfirmada" value="<%= locals.datosViejos && datosViejos.nombre? datosViejos.contraseniaConfirmada : ''%>" >
                        <% if(locals.mensajeDeError && mensajeDeError.contraseniaConfirmada){ %>
                            <div class="feedback is-danger">
                                <%= mensajeDeError.contraseniaConfirmada.msg %>
                            </div>
                        <% } %>
                    </li>

                </ul>

                <div class="check">
                    <label>No soy un Robot <i class="fa-solid fa-arrows-rotate"></i></label>
                    <input type="checkbox" id="robot" required>
                </div>

                <div class="boton">
                    <button id="btn" type="submit">Registrarme</button>
                </div>
                
                <div class="footer">
                    <p>¿Ya tienes una cuenta? <a href="/login">Iniciar Sesión</a></p>
                </div>
                
            </form>

        </div>

    </main>

    <!--Footer-->
    <%- include('../partials/footer.ejs') %> 

</body>

</html>