<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <!--Estilos Grupo 6-->
    <link rel="Stylesheet" href="/css/header-footer.css" type="text/css">
    <link rel="Stylesheet" href="/css/abml.css" type="text/css">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
<body>
  
    <%-include('../partials/header.ejs')%> 
    <!--Main-->
    <main>
        <div class="main-container">
            <!--Productos-->
            <section class="container-products">
                <div class="boton-agregar">
                    <a href="/alta"><i class="fa-solid fa-circle-plus"></i></a>
                </div>
                <div class="products-list">

                    <% for(let i=0;i < productos.length;i++) {%>
                        <article class="product">
                            <div class="product-img">
                                <img src="/../<%=productos[i].image %>" >
                            </div>
                            <div class="product-info">
                                <h2 class="product-name"><%=productos[i].name %> </h2>
                                <a class="product-price"><%=productos[i].price %></a>
                                <a class="product-offer">Oferta 10% off a partir de 200u</a>
                                <p>
                                    <%=productos[i].description %>
                                </p>
                                
                            </div>
                            <section class="contenedor-iconos-abml">
                                <div class="boton-ocultar">
                                    <label class="switch">
                                        <input type="checkbox">
                                        <span class="slider"></span>
                                    </label>
                                </div>
                                <div class="boton-eliminar" >
                                    <form method="POST" action="/eliminar/<%=productos[i].id%>?_method=DELETE">
                                        <button><i class="fa-solid fa-trash-can"></i></button> 
                                    </form>
                                </div>
                                <div class="boton-editar">
                                    <form action="/products/<%=productos[i].id%>/edit" method="GET">
                                        <button><i class="fa-solid fa-pen-to-square"></i></button>
                                    </form>
                                </div>
                            </section>
                        </article>
                        <% } %>
                </div>
            </section>
        </div>
    </main>
    <!--Footer-->
    <%-include('../partials/footer.ejs')%>

</body>
</html>