<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <link rel="Stylesheet" href="/css/alta.css" type="text/css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
</head>

<body>
    <%-include('../partials/header.ejs')%> 
<!--Main-->
    <main>
        <form action="/nuevo" method="POST" enctype="multipart/form-data">

        <article class="producto">

            <h1>Dar de alta un nuevo producto</h1>

                <% if(locals.mensajeDeError && mensajeDeError.nombre){ %>
                    <div class="feedback is-danger">
                        <%= mensajeDeError.nombre.msg %>
                    </div>
                <% } %>

                <div class="titulo">
                    <input class="inputText" id="titulo" type="text" name="nombre" placeholder="Título del producto" value="<%= locals.datosViejos && datosViejos.nombre? datosViejos.nombre : ''%>">
                </div>
                <span class="warnings" id="errorTitulo"></span>
                
                

                <% if(locals.mensajeDeError && mensajeDeError.img){ %>
                    <div class="feedback is-danger">
                        <%= mensajeDeError.img.msg %>
                    </div>
                <% } %>

                <section class="imagen-principal">
                        <div class="archivo">
                            <p class="texto">Subir imagen</p>
                            <input class="btn-enviar" type="file" name="img" id="btnEnviar">
                        </div>
                </section>
                <span class="warnings" id="errorImagen"></span>

                <section class="contenedor-detalle-producto">
                    <div class="configuracion-producto">
                       
                        <div class="contenedor">
                            <% if(locals.mensajeDeError && mensajeDeError.precio){ %>
                                <div class="feedback is-danger">
                                    <%= mensajeDeError.precio.msg %>
                                </div>
                            <% } %>
                            <input class="inputText" id="precio" type="number" name="precio" placeholder="Precio por unidad" >
                        </div>

                        <div class="contenedor">
                            <h4 class="subtitulo">Descripción del producto</h4>
                            <% if(locals.mensajeDeError && mensajeDeError.descripcion){ %>
                                <div class="feedback is-danger">
                                    <%= mensajeDeError.descripcion.msg %>
                                </div>
                            <% } %>
                            <input class="descripcion" id="descripcion" type="text" name="descripcion" maxlength="700" >
                            <span class="warnings"></span>
                        </div>

                        <div class="contenedor">
                            <div class="titulos">
                                <h4 class="tituloColor">Colores de bolsa disponibles</h4>
                                <h4 class="tituloStock">Stock</h4>
                            </div>
                            <% for(let i=0;i <bolsaColores.length; i++) { %>
                            <div class="color-stock">
                                <label class="columna nombreColor"><input id="color" class="checkbox" type="checkbox" name="color" value="<%= bolsaColores[i].id%>"> <%= bolsaColores[i].color%></label>
                                <label class="columna"><input class="stock" id="stock" type="number" name="stock" value="0"></label> 
                            </div>
                            <% } %>
                            <span class="warnings" id="errorColor" style="text-align: left;"></span>
                        </div>
                       
                        <div class="contenedor">
                            <h4 class="subtitulo">Tamaño</h4>
                            <% if(locals.mensajeDeError && mensajeDeError.tamanio){ %>
                                <div class="feedback is-danger">
                                    <%= mensajeDeError.tamanio.msg %>
                                </div>
                            <% } %>
                            <select class="inputText" name="tamanio">
                                <% for(let i=0;i < tamanios.length; i++){ %>
                                        <option id="tamanio" value="<%= tamanios[i].id%>"><%= tamanios[i].size%></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="contenedor">
                            <h4 class="subtitulo">Categoría del producto</h4>
                            <% if(locals.mensajeDeError && mensajeDeError.categoria){ %>
                                <div class="feedback is-danger">
                                    <%= mensajeDeError.categoria.msg %>
                                </div>
                            <% } %>

                            <select class="inputText" name="categoria">
                                <% for(let i=0;i < categorias.length; i++){ %>
                                        <option id="categoria" value="<%=categorias[i].id%>"><%= categorias[i].productCategory%></option>
                                <% } %>
                            </select>
                        </div>
                        
                        <button type="submit" class="boton-guardar">Guardar</button>
                    </div>
                </section>
            </article>
        </form>
       
        
    </main>
<!--Footer-->
    <%-include('../partials/footer.ejs')%> 
    <script src="/js/ValidacionAlta.js"></script>
</body>

</html>