<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicity</title>
    <link rel="Stylesheet" href="/css/modificar.css" type="text/css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/41f3340cce.js" crossorigin="anonymous"></script>
    <!--Font-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

</head>

<body>
    <%-include('../partials/header.ejs') %>

        <!--Main-->
        <main>
            <form  action="/products/<%=producto.id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <article class="producto">
                    <h1 class="subtitulo">Modificar producto</h1>
                    <% if(locals.mensajeDeError && mensajeDeError.nombre){ %>
                        <div class="feedback is-danger">
                            <%= mensajeDeError.nombre.msg %>
                        </div>
                    <% } %>
                    <div class="titulo">
                        <input id="titulo" name="nombre" class="inputText" type="text" value="<%=producto.name%>">
                    </div>
                    <span class="warnings" id="errorTitulo"></span>
                    <% if(locals.mensajeDeError && mensajeDeError.img){ %>
                        <div class="feedback is-danger">
                            <%= mensajeDeError.img.msg %>
                        </div>
                    <% } %>
                    <section class="imagen-principal" style="background-image:url('/../<%=producto.image%>')">
                        <div class="archivo">
                            <p class="texto">Cambiar Imagen</p>
                            <input name="img" class="btn-enviar" type="file" id="btnEnviar">
                        </div>
                    </section>
                    <span id="errorImagen" class="warnings"></span>
                    <section class="contenedor-detalle-producto">
                        <div class="configuracion-producto">
                            <div class="contenedor">
                                <h4 class="subtitulo">Precio por Unidad</h4>
                                <% if(locals.mensajeDeError && mensajeDeError.precio){ %>
                                    <div class="feedback is-danger">
                                        <%= mensajeDeError.precio.msg %>
                                    </div>
                                <% } %>
                                <input name="precio" class="inputText" type="number" value="<%=producto.price%>">
                            </div>
                            <div class="contenedor">
                                <h4 class="subtitulo">Descripción del producto</h4>
                                <% if(locals.mensajeDeError && mensajeDeError.descripcion){ %>
                                    <div class="feedback is-danger">
                                        <%= mensajeDeError.descripcion.msg %>
                                    </div>
                                <% } %>
                                <textarea id="descripcion" name="descripcion" class="descripcion" maxlength="700"><%=producto.description%></textarea>
                                <span class="warnings"></span>
                            </div>
                            <div class="contenedor">
                                <% if(locals.mensajeDeError && mensajeDeError.tamanio){ %>
                                    <div class="feedback is-danger">
                                        <%= mensajeDeError.tamanio.msg %>
                                    </div>
                                <% } %>
                                <h4 class="subtitulo">Tamaño</h4>
                                <select class="inputText" >
                                <% for(let i=0;i < tamanios.length; i++){ %>
                                    <% if(tamanios[i].id==producto.idSize) { %>
                                        <option value="<%= tamanios[i].id %>" selected><%= tamanios[i].size%></option>
                                    <% } %>
                                        <option value="<%= tamanios[i].id %>" ><%= tamanios[i].size%></option>
                                <% } %>
                               </select> 
                               
                            </div>

                            <div class="contenedor">
                                <h4 class="subtitulo">Categoría del producto</h4>
                                <% if(locals.mensajeDeError && mensajeDeError.categoria){ %>
                                    <div class="feedback is-danger">
                                        <%= mensajeDeError.categoria.msg %>
                                    </div>
                                <% } %>
                                <select class="inputText" name="categoria">
                                    <% for(let i=0;i < categorias.length; i++){ %>
                                        <% if(categorias[i].id==producto.idProductCategory) { %>
                                            <option value="<%= categorias[i].id %>"><%= categorias[i].productCategory%></option>
                                        <% } %>
                                    <% } %>
                                </select>
                            </div>

                            <div class="contenedor">
                                
                                <div class="titulos">
                                    <h4 class="tituloColor">Colores de bolsa asignados</h4>
                                    <h4 class="tituloStock">Modificar stock</h4>
                                </div>

                                <% for(let i=0;i < stock.length; i++){ %>
                                    <% for(let j=0;j < bolsaColores.length; j++){ %>
                                        <% if(stock[i].idProduct==producto.id) { %>
                                            <div class="color-stock">
                                            <% if(stock[i].idBagColor == bolsaColores[j].id) { %>
                                                <label class="columna nombreColor" name="color" value="<%= bolsaColores[j].id%>"> <%= bolsaColores[j].color%></label>
                                                <label class="columna" ><input class="stock" type="number" name="stock" value="<%= stock[i].stock %>" ></label> 
                                                <label class="columna" style="display: none;" ><input class="stock" type="number" name="idStock" value="<%= stock[i].id %>" ></label> 
                                            <%  } %>
                                            </div>
                                        <% } %>
                                    <% } %>
                                <% } %>
                               
                            </div>
                           
                            <div class="titulos">
                                <label><input class="checkbox" type="radio" id="modificar" > Agregar nuevo color de bolsa</label> 
                                <input type="number" name="agregar" id="agregar" value="0" hidden>
                            </div>
                            
                            <!-- agrega nuevo color -->
                            <div class="contenedor" id="nuevoColor" name="nuevoColor" hidden>
                                <div class="titulos">
                                    <h4 class="subtitulo">Seleccione un color de bolsa</h4>  
                                </div>

                                    <select class="inputText" name="colorNoAsignado" >
                                        <% for(let i=0; i < coloresNoAsignados.length; i++){ %>
                                            
                                            <option value="<%= coloresNoAsignados[i].id%>"><%= coloresNoAsignados[i].color%></option>
                                            
                                            <% } %>
                                    </select>
                
                                    <div class="titulos">
                                        <h4 class="subtitulo">Ingrese el stock</h4>  
                                    </div>
                
                                    <input name="stockNuevo" class="inputText" type="number" >
                                    
                                    <div class="botones" >
                                        <button id="cancelar" class="boton-cancelar">Cancelar</button>
                                        <button type="submit" class="boton-agregar">Agregar</button>
                                    </div>

                            </div>

                            
                            <button type="submit" class="boton-guardar">Guardar</button>
                            
                        </div>
                    </section>
                </article>  
            </form>

        </main>
        <!--Footer-->
        <%-include('../partials/footer.ejs') %>
</body>

</html>
<script src="/js/ValidacionModificar.js"></script>

<script>

    document.getElementById('modificar').addEventListener('click', function (e) {

        document.getElementById('nuevoColor').hidden = false;
        document.getElementById('agregar').value=1;

    });

  
    document.getElementById('cancelar').addEventListener('click', function (e) {
        event.preventDefault();
        document.getElementById('nuevoColor').hidden = true;
        document.getElementById('modificar').checked  = false;

    });

</script>